:root {
  --c-blue: #0073ff;
  --c-black: #000;
  --c-white: #fff;

  --c-eee: #eee;
  --c-222: #222;

  --c-ddd: #ddd;
  --c-444: #444;
}

/* start class */
body {
  font-family: "Poppins", "system-ui";
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.filter-brightness {
  filter: brightness(0.5);
}

/* end class */
/* start navbar */
.navbar {
  box-shadow: 0 0 10px #444;
  height: 65px;
  background-color: #fff !important;
}

.navbar .navbar-brand {
  color: var(--c-blue);
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-nav .nav-link {
  color: var(--c-black);
  font-size: 18px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link.active {
  color: var(--c-blue);
}

/* end navbar */
/* start carousel */
.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
  color: #fff;
}

/* end carousel */
/* end facilities */
.facilities .container .title h1 {
  color: var(--c-black);
}

.facilities .container .title p {
  color: var(--c-444);
}

.facilities-card .container {
  background-color: #eee;
  box-shadow: 0 0 10px #eee;
}

.facilities-card .container .icon {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: var(--c-blue);
}

/* end facilities */
/* start popular */
.popular .container .title h1 {
  color: var(--c-black);
}

.popular .container .title p {
  color: var(--c-444);
}

.popular .popular-card .feat {
  background-color: #eee;
  box-shadow: 0 0 10px #eee;
  transition: 0.3s;
}

.popular .popular-card .feat:hover {
  transform: scale(1.02);
}

.popular .popular-card .stars .price {
  font-size: 18px;
}

.popular .popular-card .icons .icon {
  transition: 0.3s;
}

.popular .popular-card .icons .icon:hover {
  transform: scale(1.19);
}

.popular .popular-card .icons .icon:hover a {
  color: var(--c-blue);
}

/* end popular */
/* start pricing */
.pricing .pricing-card .container {
  background-color: #eee;
  box-shadow: 0 0 10px #eee;
  transition: 0.3s;
}

.pricing .pricing-card .container:hover {
  transform: scale(1.02);
}

.pricing .pricing-card .container .icon {
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: var(--c-blue);
}

.pricing .pricing-card .container .shop a {
  background: transparent;
  color: #000;
  border: 2px solid var(--bs-blue);
}

.pricing .pricing-card .container .shop:hover a {
  background: var(--c-blue);
  color: #fff;
}

/* end pricing */
/* start about */
.about .about-card .container {
  background-color: #eee;
  box-shadow: 0 0 10px #eee;
}

/* end about */
/* start blog */
.blog .blog-card .feat {
  background-color: #eee;
  box-shadow: 0 0 10px #eee;
  transition: 0.3s;
}

.blog .blog-card .feat:hover {
  transform: scale(1.02);
}

.blog .blog-card .more:hover a {
  text-decoration: underline;
  color: var(--c-blue);
}

/* end blog */
/* start footer */
.container footer li a:hover {
  color: var(--c-blue) !important;
}
/* end footer */

/* start responsef */
@media (max-width:768px) {
  .title {
    width: 100% !important;
  }

  .p-5 {
    padding: 1rem !important;
  }
}

/* end responsef */